<form action="<%= "/memo/#{@user}" %>" method="patch">
  <div>
    <textarea class = "input" name="memo_edited" rows = "10"><%=@input %></textarea>
    <div>
      <input type="submit" value="更新">
    </div>
  </dev>
</form>