<form class="pure-form pure-form-stacked">
  <div>
    <button type = "submit" formaction="<%="/memo/#{@id}/new"%>" formmethod="get" class="pure-button pure-button-primary">新規作成</button>
  </div>
</form>
<div>
<ul>
<% @files.each do |file| %>
  <% file_name = file.gsub(".txt",'') %>
  <li><a href="<%="/memo/#{file_name}"%>">
    <% if File.zero?("title/#{file}") %>
    （タイトルがありません）
    <% else %>
      <% File.open("title/#{file}") do |f| %>
        <% f.each_line do |line| %>
          <% if line =~ /^\s+/ %>
          _
          <% else %>
          <%= line %>
          <% end %>  
        <% end %>  
      <% end %>
    </a></li><% end %>
<% end %>
</ul>
</div>