<form action="<%= "/memo/#{@user}" %>" method="post">
  <div>
    <div>
    <textarea class = "input" name="memo_main"></textarea>
    </div>
    <div>
      <input type = "submit" value = "保存">
    </div>
  </div>
</form>