<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>MEMO</title>
    <style>
      .label{
        color: gray;
      }
      .input_title{
        width: 60%;
        background: whitesmoke;
      }
      .input_main{
        width: 60%;
        height: 300px;
        background: whitesmoke;
      }
      .title{
        padding: 10px;
        width: 60%;
        background:lightyellow;
        margin-bottom: 10px;
      }
      .main{
        padding: 10px;
        width: 60%;
        background:lightyellow;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>メモアプリ</h1>
    <%= yield %>
  </body>
</html>